@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    background-color: white;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
.return-link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.return-link:hover{
    color: #007bff;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.topmenu li a:hover { color: #007bff; }
.submenu {
    background: rgba(0, 0, 0, 0.78);
    border: 2px solid transparent;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 151551;
    width: 200px;
    transform: perspective(600px) rotateX(-90deg);
    transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
    color: white;
    font-size: 20px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.product-box{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: 500px;
    margin: 30px auto;
    padding: 30px;
}
.personal_name{
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
}
.personal_name span {
    color: #007bff;
}
.personal_text{
    font-size: 20px;
    color: #007bff;
}
.personal_text span{
    color: black;
}
.personal_header2{
    font-size: 30px;
    text-align: right;
    color: black;
}
.personal_container2{
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}
.personal_title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-order{
    width: 500px;
    margin: 30px auto 0;
    padding: 30px;
}
.product_name p{
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}
.product_name p span{
    color: black;
}
.personal_order{
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}
.personal_order span{
    color: black;
}
.order-link{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.order-link:hover{
    color: #007bff;
}
.product-comment{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}
.personal_container3{
    margin: 10px 0;
    padding: 20px;
}
.personal_container3 p{
    margin-bottom: 10px;
    font-size: 25px;
}
.order-title{
    margin-top: 20px;
    font-size: 40px;
    color: black;
}
.order-number{
    color: black;
    font-size: 25px;
    margin-top: 10px;
}
.order-product-name{
    font-size: 20px;
}
.full-price{
    font-size: 35px;
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}
.table-container{
    width: 900px;
    margin: 30px auto 0;
}
table td a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
table td{
    font-size: 20px;
    font-weight: 400;
}
table th{
    font-size: 21px;
    font-weight: bold;
    color: #007bff;
}
.sum_product span{
    color: #007bff;
}
.sum_product {
    font-size: 35px;
    text-align: right;
}
.product-description{
    width: 800px;
}
.product-description h2{
    margin-top: 30px;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-category-name{
    font-size: 20px;
    color: #007bff;
    margin: 20px 0;
}
.product-rate{
    display: flex;
    column-gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.product-price{
    font-size: 35px;
    margin-bottom: 20px;
}
.product-text{
    font-size: 20px;
    font-weight: 500;
}
.product-bag-link{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.product-bag-link:hover{
    color: #007bff;
}
.product-band{
    background-color: black;
    width: 100%;
    height: 2px;
    margin: 20px;
}
.product-overview-title{
    font-size: 35px;
    margin-bottom: 20px;
}
.product-overview-text{
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}
.product-comments-title{
    font-size: 35px;
    margin-bottom: 20px;
}
.review_text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.review-link{
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}
.review-link:hover{
    color: black;
}
