<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create product</title>
</head>
<body>

<form th:if="${categoryId == null}"  th:action="@{/create_product}" method="get">
  <h3>Выберите категорию</h3>
  <div class="form-container" th:each="category:${categories}">
    <input type="radio" name="category" th:value="${category.id}" th:name="categoryId"
           th:id="${category.id}">
    <label th:text="${category.name}" th:for="${category.id}"></label>
  </div>
  <button type="submit">Применить</button>
</form>

<form th:if="${categoryId != null}"  th:action="@{/create_product}" method="post">

  <label th:for="${category.id}">Категория</label>
  <input type="text" name="categoryId" th:value="${category.id}" th:id="${category.id}">

    <label th:for="product">Имя продукта</label>
  <input type="text" name="name" id="product">

    <label th:for="cost">Цена продукта</label>
  <input type="text" name="price" id="cost">

    <h3>Характеристики</h3>
  <div th:each="option : ${category.options}">
    <p th:text="${option.name}"></p>
    <input type="text" name="option" th:value="${option.id}">
    <input type="text" name="value">
  </div>

  <button type="submit">Отправить</button>
</form>

</body>
</html>
