<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <button type="button" class="btn" ><a th:href="@{/create_product}">Добавить</a></button>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody th:each="product:${products}">
            <tr>
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"></td>
                <td>
                    <a th:text="${product.getCategory().getName()}"
                       th:href="@{/categories(categoryId = ${product.getCategory().getId()})}" target="_blank"></a>
                </td>
                <td th:text="${product.getPrice()}"></td>
                <td><a th:href="@{/update_product(productId = ${product.getId()})}"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="#"><i class="fa-solid fa-x"></i></a></td>
            </tr>
            </tbody>
        </table>
        <h3 class="sum_product">Общая стоимость: <b th:text="${price}"></b></h3>
    </div>

    <script src="https://kit.fontawesome.com/a12b3513d4.js" crossorigin="anonymous"></script>
</div>
</body>
</html>